:root {
  // All base colors
  --base-primary: #186dff;
  --base-secondary: #ffffff;
  --base-tertiary: #c3d9ff;

  // All layout colors
  --layout-primary: #ffe0b2;
  --layout-secondary: #f4f4f4;
  --layout-tertiary: #dedede;

  // All text colors
  --text-primary: #111111;
  --text-secondary: #606060;
  --text-tertiary: #f4f4f4;

  // All button colors
  --button-danger: #df3737;
  --button-success: #1f9f29;
  --button-hover: #c0d7ff;

  // All border colors
  --border-primary: #75a7fe;
}
