.button {
  width: auto;
  height: auto;
  font-size: 1rem;
  font-weight: var(--font-weight-300);
  border: none;
  border-radius: 8px;
  padding: 3px 13px;
  transition: 0.2s ease-in-out;
  color: var(--text-primary);
  background-color: var(--layout-tertiary);

  &:hover {
    transition: 0.2s ease-in-out;
    background-color: var(--button-hover);
  }
}
