:root {
  --base-primary: #1f1f1f;
  --base-secondary: #282828;
  --base-tertiary: #3e3e3e;

  --layout-primary: #aaaaaa;
  --layout-secondary: #186dff;
  --layout-tertiary: #4186ff;

  --text-primary: #dcdcdc;
  --text-secondary: #8c8c8c;
  --text-tertiary: #cfcfcf;

  --button-hover: #464648;
  --button-hover-two: #df3737;
  --button-hover-three: #1f9f29;
}
