@use '../../sass/abstracts' as *;
@use '../../sass/utilities' as *;

.todo-head {
  width: 100%;
  height: auto;
  padding: 1.5rem 1rem;
  border-radius: 10px 10px 0 0;
  background-color: var(--layout-secondary);

  .todo-logo {
    width: 50px;
    height: 50px;

    & img {
      width: 100%;
      height: auto;
    }
  }

  .todo-app-name {
    margin-left: 1rem;
    & h1 {
      font-size: 2rem;
      margin-bottom: 0.3rem;
      color: var(--text-primary);
    }

    & p {
      margin-bottom: 0;
      color: var(--text-tertiary);
    }
  }
}
