@use '../../sass/abstracts' as *;
@use '../../sass/utilities' as *;

.todo-status {
  width: 100%;
  height: auto;
  gap: 0.8rem;
  padding: 1rem;
  background-color: var(--base-primary);

  & button {
    width: auto;
    height: auto;
    font-size: 1rem;
    font-weight: var(--font-weight-300);
    border: none;
    border-radius: 8px;
    padding: 3px 10px;
    transition: 0.2s ease-in-out;
    color: var(--text-primary);
    background-color: var(--base-secondary);

    &:hover {
      transition: 0.2s ease-in-out;
      background-color: var(--button-hover);
    }

    &.active {
      transition: 0.2s ease-in-out;
      color: var(--base-primary);
      background-color: var(--text-primary);
    }
  }

  & span {
    width: 25px;
    height: 20px;
    position: relative;
    top: -12px;
    left: -25px;
    font-size: 0.8rem;
    padding: 0.5rem;
    border-radius: 50px;
    color: var(--text-primary);
    background-color: #df3737;

    &.count-active {
      opacity: 1;
      visibility: visible;
    }

    &.count-inactive {
      opacity: 0;
      visibility: hidden;
    }
  }
}
